body {
	padding: 0;
	margin: 0;
}

.main {
	width: 99%;
	height: 100vh;
	background-color: #edeef0;
	position: relative;
}

.change {
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: #4a76a8;
}